@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: "Open Sans", sans-serif!important;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 1;
}

header .logo a {
  font-size: 30px;
  color: white;
  padding: 15px 30px;
}

header .logo a span {
  color: orange;
}

header nav ul {
  display: flex;
}

header nav ul li a {
  margin: 5px 20px;
  font-size: 18px;
  color: white;
  padding: 10px 10px 10px 10px;
  transition: background-color 0.15s, border-radius 0.15s, opacity 0.15s,
    color 0.15s;
}

header nav ul li a:hover {
  /* border-bottom: 1px solid white; */
  background-color: orange;
  border-radius: 10px;
  color: #000;
}
header nav ul li a:active {
  opacity: 0.8;
}

/* Content */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to bottom right,
      rgba(96, 76, 76, 0.6),
      rgba(96, 76, 76, 0.6)
    ),
    url("../images/img/bg-image3.jpeg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.content h2 {
  font-size: 32px;
  padding: 5px;
  color: white;
}

.content p {
  font-size: 22px;
  color: white;
}

/* Menu */

.menu {
  background-color: #333333;
  width: 100%;
}

.menu .menu-header {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.menu-header h3 {
  color: orange;
  padding: 10px 30px;
}

.menu-header h4 {
  color: orange;
  padding: 10px 20px;
}

.menu .menu-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 0;
  flex-wrap: wrap;
  background-color: #404040;
}

.menu .menu-content .hot-coffees,
.cold-coffees,
.frappucino-coffees {
  width: 250px;
}

.menu .menu-content .hot-coffees .hot-coffees-image img {
  border-radius: 50%;
}

.menu .menu-content .cold-coffees .cold-coffees-image img {
  border-radius: 50%;
}

.menu .menu-content .frappucino-coffees .frappucino-coffees-image img {
  border-radius: 50%;
}

.menu .menu-content .hot-coffees-body,
.cold-coffees-body,
.frappucino-coffees-body {
  text-align: center;
  margin-top: 10px;
}

.menu .menu-content .hot-coffees-body h2,
.cold-coffees-body h2,
.frappucino-coffees-body h2 {
  color: orange;
}

.menu .menu-content .hot-coffees-body label,
.cold-coffees-body label,
.frappucino-coffees-body label {
  margin-top: 10px;
  color: white;
}

/* Shop */

.shop {
  background-color: #333333;
  width: 100%;
}

.shop .shop-header {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.shop-header h3 {
  color: orange;
  padding: 10px 30px;
}

.shop-header h4 {
  color: orange;
  padding: 10px 20px;
}

.shop-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #404040;
  padding: 50px 0;
  flex-wrap: wrap;
}

.shop-box .card {
  width: 280px;
  margin: 20px;
}

.shop-box .card-image {
  width: 100%;
  height: 280px;
  overflow: hidden;
  cursor: pointer;
}

.shop-box .card-image img:hover {
  transform: scale(1.1);
  transition: transform 0.4s ease-in-out;
}

.shop-box .card-body {
  padding: 20px;
  color: white;
  border: 3px solid #3b3b3b;
}

.shop-box .card-body h3 {
  padding: 10px 0;
}

.shop-box .card-body i {
  color: yellow;
  font-size: 10px;
  position: relative;
  bottom: 5px;
}

.shop-box .card-body .cash {
  font-size: 22px;
  margin-left: 90px;
}
.img-button {
  padding: 0;
  border: none;
  background: none;
  text-decoration: none;
}

/* Contact */

.contact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-top: 2px solid #333333;
}

.contact .contact-box {
  flex: 1;
}

.contact .contact-box .contact-image,
.contact .contact-box .contact-body {
  height: 100%;
}

.contact img {
  width: 100%;
  height: 100%;
}

.contact-image img {
  opacity: 0.9;
}

.contact-body {
  background-color: #404040;
  height: 100%;
  border-left: 2px solid #333333;
}

.contact-body form {
  padding: 50px 40px;
  box-sizing: border-box;
}

.contact-body h2 {
  color: orange;
}

form .form-content {
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid lightgray;
}

form .form-content input {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  font-size: 17px;
  border: none;
  background: none;
  outline: none;
  color: white;
}

form .form-content label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: gray;
  transform: translateY(-50%);
  font-size: 17px;
  transition: 0.5s;
  pointer-events: none;
}

form .form-content span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: orange;
  transform: 0.4s;
}

form .form-content input:focus ~ label,
form .form-content input:valid ~ label {
  top: -5px;
  color: orange;
}

form .form-content input:focus ~ span::before,
form .form-content input:valid ~ span::before {
  width: 100%;
}

.contact-body form button {
  padding: 10px 20px;
  font-size: 17px;
  border: none;
  background-color: #ff6600;
  color: white;
  border: 5px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.contact-body form button:hover {
  background-color: #ff6681;
}

/* Footer */

.footer {
  background-color: #404040;
  border-top: 2px solid #333333;
}

.footer .footer-box {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .footer-box .social-media a {
  color: white;
  background-color: #333333;
  border-radius: 50%;
  font-size: 17px;
  padding: 10px;
  margin: 5px;
}

.footer .footer-box .social-media a:hover {
  opacity: 0.7;
  transition: 0.5s all ease-in-out;
}

.footer .footer-box .copyright {
  color: white;
  font-size: 20px;
}

.footer .footer-box .brand {
  color: white;
  font-size: 20px;
}

.footer .footer-box .brand span {
  color: orange;
}

/* Responsive */

@media (max-width: 992px) {
  /* Header */

  header {
    flex-direction: column;
    height: 150px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  }

  .menu-header .logo a {
    font-size: 25px;
  }

  header nav ul li a {
    font-size: 16px;
    flex-direction: column;
    display: inline-block;
    margin-top: 10px;
  }

  header nav {
    display: flex;
    flex-direction: column;
  }

  .content h2 {
    font-size: 28px;
  }

  .content p {
    font-size: 18px;
  }
}

@media (max-width: 950px) {
  .contact .contact-box {
    flex: 100%;
  }
}

@media (max-width: 800px) {
  .menu .menu-content .hot-coffees,
  .cold-coffees,
  .frappucino-coffees {
    margin: 20px;
  }
}

@media (max-width: 700px) {
  .footer .footer-box .social-media a {
    color: white;
    background-color: #333333;
    border-radius: 50%;
    font-size: 16px;
    padding: 5px;
  }

  .footer .footer-box .copyright {
    color: white;
    font-size: 15px;
  }

  .footer .footer-box .brand {
    color: white;
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  /* header */

  header {
    height: 130px;
  }

  header .logo a {
    font-size: 23px;
  }

  header nav ul li a {
    font-size: 13px;
    flex-direction: column;
    display: inline-block;
    margin-top: 10px;
  }

  header nav {
    display: flex;
    flex-direction: column;
  }

  /* Content */

  .content h2 {
    font-size: 23px;
  }

  .content p {
    font-size: 16px;
  }

  /* footer */

  .footer .footer-box {
    flex-direction: column;
  }

  .footer .footer-box .social-media a {
    color: white;
    background-color: #333333;
    border-radius: 50%;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
  }

  .footer .footer-box .copyright {
    color: white;
    font-size: 15px;
    margin-top: 10px;
  }

  .footer .footer-box .brand {
    color: white;
    font-size: 18px;
    margin-top: 10px;
  }
}

@media (max-width: 410px) {
  /* header */

  header {
    height: 120px;
  }

  header .logo a {
    font-size: 20px;
    color: white;
    padding: 15px 30px;
  }

  header nav ul li a {
    font-size: 12px;
    flex-direction: column;
    display: inline-block;
    margin-top: 10px;
    color: white;
    padding: 5px 5px;
  }

  header nav {
    display: flex;
    flex-direction: column;
  }

  /* content */

  .content h2 {
    font-size: 20px;
  }

  .content p {
    font-size: 13px;
  }
}

body {
  overflow-x: hidden;
}

.add-to-cart-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6600;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.add-to-cart-btn:hover {
  opacity: 0.8;
}

.add-to-cart-btn:active {
  opacity: 0.5;
}

/* Style the dropdown anchor */
.account-btn {
  color: white;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.account-drp-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  text-align: center;
  transition: display 0.15s;
}

.account-drp-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  transition: background-color 0.15s;
}

.account-drp-content a:hover {
  background-color: #d3d3d3;
}

.account-drp {
  transition: display 0.15s;
}

.account-drp:hover .account-drp-content {
  display: block;
}

/* Style the dropdown anchor */
.cart-btn {
  color: white;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.cart-drp-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  text-align: center;
  transition: display 0.15s;
}

.cart-drp-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  transition: background-color 0.15s;
}

.cart-drp-content a:hover {
  background-color: #d3d3d3;
}

.cart-drp {
  transition: display 0.15s;
}

.cart-drp:hover .cart-drp-content {
  display: block;
}
.content h2{
  color: orange;
}
